* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
}

.flex-container {
    display: flex;
}

header {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

header button {
    padding: 5px;
    border: none;
    background-color: #4A4A4A;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
}