* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
}

header {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 2;
}

header button {
    padding: 5px;
    border: none;
    background-color: #4A4A4A;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
}

main {
    padding-inline: 5%;
    padding-top: 50px;
    overflow: auto;
}

#room {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

#room .profile {
    position: relative;
    margin-bottom: 1%;
    max-height: 150px;
    width: 200px;
}

#room .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#room .profile div {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4a4a4ac6;
    padding: 3px;
}

#room .profile div h6 {
    display: inline;
    text-transform: capitalize;
}

/* FOOTER STYLE */

footer {
    background-color: #222;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer>.flex-container {
    align-items: center;
}


.btn-dropdown {
    align-items: center;
    gap: 5px;
}

.btn-dropdown>i {
    font-size: 10px;
}

.btn-action {
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}

.btn-action>i {
    font-size: 25px;
    margin-bottom: 5px;
}

.btn-action>h6 {
    font-size: 9px;
    font-weight: 400;
}

.btn-end {
    color: red;
    background-color: #4A4A4A;
    border: none;
    padding-inline: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
}